server:
  port: 8081
spring:
  application:
    name: accounts
  profiles:
    active: dev
  config:
    import: "optional:configserver:http://localhost:8080"
management:
  endpoints:
    web:
      exposure:
        include: refresh